<% include ../partials/header %> 
<body>
  <!-- Sidenav -->
  <% include ../partials/sidenav %> 
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <% include ../partials/topnav %> 
    <!-- Header -->
    <!-- Header -->
    <% include ../partials/about %> 
    <div class="header pb-6 d-flex align-items-center"
      style="min-height: 100px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">

        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">New Post </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form enctype="multipart/form-data" method="POST" action="/createPost" >
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Upload Photo</label>
                        <input name="image" type="file" accept="image/*"  id="input-username" class="form-control" >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Description -->
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Caption</label>
                    <textarea rows="4" class="form-control" name="caption" placeholder="Hey !"></textarea>
                  </div>
                </div>
                <div class="col-6 text-right">
                  <button type="submit" class="btn btn-sm btn-primary">Create Post</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %> 
    </div>
  </div>
  <!-- Argon Scripts -->
  <% include ../partials/scripts %> 
</body>

</html>